

.nav-outer{
    width: 100%;
    text-align: center;
}
.nav-inner{
    display: flex;
    flex-direction: row;
    max-width: 920px;
    margin: auto;
}

.nav-left{
    flex: 1;
}
.nav-right{
    text-align: right;
    flex: 11;
}


@media (min-width: 600px){
    .appbar-outer{
        min-height: 64px;
    }    
}


@media (min-width: 0px) and (orientation: landscape){
    .appbar-outer{
        min-height: 48px;
    }    
}

.appbar-outer{
    position: relative;
    min-height: 64px;
}